<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.discipline.iquiz.mapper.ClassRoomMapper">

    <resultMap id="classRoom" type="com.discipline.iquiz.po.ClassRoom">
        <id property="id" column="id"></id>
        <result property="name" column="name"/>
        <result property="cover" column="cover"/>
        <result property="tid" column="tid"/>
    </resultMap>

    <resultMap id="classRoomVo" type="com.discipline.iquiz.vo.ClassRoomVo">
        <id property="id" column="cid"></id>
        <result property="name" column="name"/>
        <result property="cover" column="cover"/>
        <association property="teacher" javaType="com.discipline.iquiz.vo.UserVo">
            <id property="id" column="tid"/>
            <result property="username" column="user_name"/>
        </association>
    </resultMap>


<!--    <select id="getClassRoomById" resultType="com.discipline.iquiz.vo.ClassRoomVo" resultMap="classRoomVo">-->
<!--        SELECT `classroom`.id ,name,cover,`user`.id AS tid,user_name FROM `classroom`,`user` WHERE `classroom`.tid = `user`.id-->
<!--        AND `classroom`.id =#{id} AND del_flag = 0-->
<!--    </select>-->

</mapper>